<script type="text/ng-template" id="/events.html">
    <div class="page-header">
        <h1>The Things I've Seen</h1>
    </div>

    <ul>
        <li ng-repeat="event in events | orderBy:'Name'">
            <a href="#/event/{{event._id}}">{{event.Name}}</a>
        </li>
    </ul>
</script>