<!DOCTYPE html>
<html>
<head>
    <title>The Things I've Seen</title>
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet"/>
</head>

<body ng-app="thingsiveseen">
<%- include navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
        </div>
    </div>
</div>

<%- include events.ejs %>
<%- include event.ejs %>

<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/ui-router/release/angular-ui-router.min.js"></script>
<script src="/javascripts/angularApp.js"></script>
</body>
</html>